env:
  global:
    - REPO_DIR=onnx
    - BUILD_COMMIT=87eb5988a5cced69b946f3d3f2963a0e271940b9
    - PLAT=x86_64
    - PB_VERSION=2.6.1
    - UNICODE_WIDTH=32
    - REPO=https://upload.pypi.org/legacy/
    - TEST_REPO=https://test.pypi.org/legacy/
    - secure: qvdFuTC+kSgm8uPvTOG4NRE6EnuH6/AsOeGmYJhxaynfxGK9skp+DZv2ioT2HE/kxW+PekkVsyrcjZc185cZFXtiTxVkWakbjoD3Bk8YZrjIjcHOjdz4nu1KePVOa8ymqangQhwKekBk2eQ84Ktx38DiuySLSjHbZZ6Z9Rqxeh6ucYLD2rgjGSTjDlMlcvzojiJ213a9xVQsaY9gnagYds6U0zHHPRj5pHrcLD0N9tI0bdyxxAGglT6T2cGwIvLx1/Kcseedqv7hONN4TYJrZnaldYf1TdLsBwtU4proiiv0+eckXAi9Pum/hNMVQhvvm/TpDGLDDKflpMzhSS9CBdW0WVbFnRWONqXyWodlIWaxuUVIqfjHR8vC7Qg1RM50G04h4di2CuSS00fzR6weAfcMDYCbgFRq7KeSCueVjF9HTLLPjhLCwo6KvinpjRk2vDZyd5Y89pXzn0BxHxK3DwePZhFmjUo89MrSDYMm12Os6TEOGsxK+XMKj92i8YVRgE2z3O/o/D7da33MsbjhkLqzUjbqS1zv+KwEPcF6Gyoo/nRxTcAv1uVyS8WRkS8GmEg8Vpr7QIAdK9gdTbS8xYSEBG3nJhjQjrasS9RzsYKENyqNmfM54jYf7/pCq3D/whv/njaYQ061E7LcvI0uMzM3fE6VUB7Gkk0eH5NvezY=
    - secure: Qn+n/myUVDQdg6OPgK3E7/RhVdgkMYlL0pRmIP3HnHxd6iyVwrgY20py2obA7MmIWLvEHjgfJxxZhdgg2RtCx7Ft7y11nhlsAyvTB0If4HRgTfRJ+QuOhr6LqKn/Pz69r/4gLzNNMyIZGtDjV/EO/a2Dkr+hZw1/0lBVEv5wb/YxAHUcGHh2x7i/Q6ErfLdL4GU72OSQwx2Fed6lktCf2nBt+VoWuzD3N7/sUiKSeLr5/qCYVkRI4rWN4uQst3uZIY9GWJhb9IgDLHvkrNU5NvNFscwpcMeMzEpgKfvHQINFgtpTpaNAbu+EDbvHWOqJ11IqeQfZN6T53zUdctb7yCsWZXkeTy+Q2Is0CrUgcEWQVmy3eCTo2v+U10uzxFi6X1+hOn8r+7bFB3VRSh456hreZZP4DIJReJX4+T7F50eVwVdgjp+ZODl44HlCaiz2LuWAQZpQ/cCMiXV7IT8RbaF7xobMhWGKv0SJvodajs7BWciPnp7mPsGhiyNQ9IGlj1WvL83w23Mdz6L0+i46gAZNuKXiebva/ioOXyLvvMJ4MzxSdfLMxAznto4KIns6dMwebIHsy382Pccwpgao9jzSJomN+V1OS+GRRyWOb4XXy21E+pq3YmfUfxpGc9ocSjvvRyR9jZ6RGJVuQvGSsBJjX55CggbbVrZPKZXHIH8=

language: python
# Default Python version is usually 2.7
python: 3.5
sudo: required
dist: trusty
services: docker
# Force xcode 6.4 image to work round
# https://github.com/python-pillow/pillow-wheels/issues/45
# So we have the line below for OSX builds
# osx_image: xcode9.3beta
matrix:
  include:
  - name: "OSX Python 3.5"
    os: osx
    language: generic
    sudo: required
    osx_image: xcode9.3beta
    env:
      - MB_PYTHON_VERSION=3.5
      - ONNX_ML=1
      - MACOSX_DEPLOYMENT_TARGET=10.9
  - name: "OSX Python 3.6"
    os: osx
    language: generic
    sudo: required
    osx_image: xcode9.3beta
    env:
      - MB_PYTHON_VERSION=3.6
      - ONNX_ML=1
      - MACOSX_DEPLOYMENT_TARGET=10.9
  - name: "OSX Python 3.7"
    os: osx
    language: generic
    sudo: required
    osx_image: xcode9.3beta
    env:
      - MB_PYTHON_VERSION=3.7
      - ONNX_ML=1
      - MACOSX_DEPLOYMENT_TARGET=10.9
  - name: "OSX Python 3.8"
    os: osx
    language: generic
    sudo: required
    osx_image: xcode9.3beta
    env:
      - MB_PYTHON_VERSION=3.8
      - ONNX_ML=1
      - MACOSX_DEPLOYMENT_TARGET=10.9
  - name: "Linux x64 Python 3.5"
    os: linux 
    sudo: required 
    env: 
      - MB_PYTHON_VERSION=3.5
      - MB_ML_VER=2014
      - ONNX_ML=1
  - name: "Linux x64 Python 3.6"
    os: linux 
    sudo: required 
    env: 
      - MB_PYTHON_VERSION=3.6
      - MB_ML_VER=2014
      - ONNX_ML=1
  - name: "Linux x64 Python 3.7"
    os: linux 
    sudo: required 
    env: 
      - MB_PYTHON_VERSION=3.7
      - MB_ML_VER=2014
      - ONNX_ML=1
  - name: "Linux x64 Python 3.8"
    os: linux
    sudo: required
    env:
      - MB_PYTHON_VERSION=3.8
      - MB_ML_VER=2014
      - ONNX_ML=1
  - name: "Linux x86 Python 3.5"
    os: linux 
    sudo: required 
    env: 
      - MB_PYTHON_VERSION=3.5
      - MB_ML_VER=2014
      - ONNX_ML=1
      - PLAT=i686
  - name: "Linux x86 Python 3.6"
    os: linux 
    sudo: required 
    env: 
      - MB_PYTHON_VERSION=3.6
      - MB_ML_VER=2014
      - ONNX_ML=1
      - PLAT=i686
  - name: "Linux x86 Python 3.7"
    os: linux 
    sudo: required 
    env: 
      - MB_PYTHON_VERSION=3.7
      - MB_ML_VER=2014
      - ONNX_ML=1
      - PLAT=i686
  - name: "Linux x86 Python 3.8"
    os: linux
    sudo: required
    env:
      - MB_PYTHON_VERSION=3.8
      - MB_ML_VER=2014
      - ONNX_ML=1
      - PLAT=i686

before_install:
  - source multibuild/common_utils.sh;
  - source multibuild/travis_steps.sh;
  - before_install;

install:
  - clean_code $REPO_DIR $BUILD_COMMIT;
  - build_wheel $REPO_DIR $PLAT;

script:
  - install_run $PLAT

after_success:
- >
  if [ -n "$TRAVIS_TAG" ]; then
    pip install twine;
    pip install pyOpenSSL ndg-httpsclient pyasn1 || true;
    python -m twine upload --skip-existing ${TRAVIS_BUILD_DIR}/wheelhouse/*.whl --repository-url $REPO -u $PYPI_USERNAME_TRAVIS -p $PYPI_PASSWORD_TRAVIS ;
    echo "Deployed to PyPI.";
  else
    echo "Not deploying as not a tagged commit.";
  fi
- >
  if [ "$TRAVIS_BRANCH" == "pypi-test" ]; then
    pip install twine;
    pip install pyOpenSSL ndg-httpsclient pyasn1 || true;
    ls ${TRAVIS_BUILD_DIR}/wheelhouse/;
    python -m twine upload --skip-existing ${TRAVIS_BUILD_DIR}/wheelhouse/*.whl --repository-url $TEST_REPO -u $PYPI_USERNAME -p $PYPI_PASSWORD ;
    echo "Deployed to test PyPI.";
  else
    echo "Not deploying as not a commit on test branch.";
  fi

cache:
- timeout: 300
- directories:
  - "$BUILD_CCACHE_DIR"
  - "$HOME/.ccache"
  - "$HOME/.cache/pb"
